@import './base.css';

#app{
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  
}

.glass-surface{
  outline: 2px solid rgba(255, 0, 0, 0.05);
  outline-offset: -2px;
  background: linear-gradient(
    86deg,
    rgba(var(--v-theme-surface), 0.3) 11.14%,
    rgba(var(--v-theme-surface), 0.5) 113.29%
  ) !important;
  background-blend-mode: overlay;
  backdrop-filter: blur(1.25rem);
}